.animation{
    width: 200px;
    height: 300px;
    background-color: crimson;
    animation-name: Color;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes Color{
    0%{ background-color: brown;}

    25%{background-color: blueviolet;}

    50%{background-color: cadetblue;}

    75%{background-color: fuchsia;}

    100%{background-color: mediumspringgreen;}
}


.anim{
    width: 200px;
    height: 300px;
    background-color: chocolate;
    border-radius: 40px;
    animation-name:Size;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes Size{
    0%  { width:300px;  height:300px;             }
    
    100%{ width:400px; height:400px;}
}
.Ani{
    width: 200px;
    height: 300px;
    border-radius: 60px;
    background-color: darkgreen;
    animation-name: Bord;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes Bord{
    0% { border-radius: 0px;}
    100%{ border-radius: 100px;}
}
.animation h1{
font-size: 30px;
text-align: left;
color:blueviolet;
animation-name: move;
animation-duration: 7s;
animation-timing-function: linear;
animation-direction: alternate;
}
@keyframes Move{
from{
    padding-left:0%;
}

to{padding-left: 100%;}
}